
#correct {
    background-color: 
    #43a047;
    border: 3px solid #43a047;
}

#almost {
    background-color: #e4a81d;
    border: 3px solid #e4a81d;
}

#incorrect {
    background-color: #757575;
    border: 3px solid #757575;
}

#regular {
    color: black;
}